.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 50px;
    display: grid;
    position: left;

}
#subtitulo_principal {
    font-family: courier;
    color: whitesmoke;
    font-size: 25px;
    display: grid;
    position: left;
}
body {
    background-color: black;
    padding: 0;
    margin: 0;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%)
}

.divisoes {
    width: 100vw;
    height: 100vh;
}
#slide_dois {
    background-color: rgba(0,0,0,0.9);
}
.items {
    display: flex
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: 15px;
}

img {
    filter: grayscale();
}